.nav-custom{
    background-color: rgba(20, 20, 20, 0.938) !important; 
}

.height-custom{
    min-height: 60vh;
}

.card-w{
    height: 80vh;
    object-fit: cover;
}

.img-preview{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
}